button {
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  border-bottom: 2px solid #000; /* Add a border to encapsulate the content */
}

li {
  text-align: center;
  font-size: 24px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  margin: 0;
  vertical-align: middle;
  list-style-position: inside; /* Ensures numbers are inside the padding */
}

input {
  font-size: 24px;
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.notes {
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px; /* Add padding to ensure content doesn't touch the border */
  border: 2px solid #000; /* Add a border to encapsulate the content */
  width: 50vw;
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
  margin: auto; /* Center the container horizontally */
  padding-bottom: 40px;
}
